<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>97621084170-jsk584enijjm9pqriasvvvo76u1vl31k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.97621084170-jsk584enijjm9pqriasvvvo76u1vl31k</string>
	<key>API_KEY</key>
	<string>AIzaSyCEnz8oetzBrjOHpcWpsr_VWrq2fdpze8c</string>
	<key>GCM_SENDER_ID</key>
	<string>97621084170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notNon</string>
	<key>PROJECT_ID</key>
	<string>not-non</string>
	<key>STORAGE_BUCKET</key>
	<string>not-non.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:97621084170:ios:0ea8a4699e4c0e749137f3</string>
</dict>
</plist>